:root {
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'League Spartan', serif;
}

.main {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, max-content);
  grid-template-areas:
    'main'
    'buy'
    'image1'
    'about'
    'image2';
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 60px 0;
  overflow: hidden;
}

.main__hero {
  min-height: 500px;
  background-image: url('./images/desktop-image-hero-1.jpg');
  background-position: center;
  background-size: cover;
  grid-area: main;
}

.main__nav {
  display: flex;
}

.main__links {
  display: none;
}

.main__logo {
  margin: 0 auto;
}

.main__controls {
  background-color: var(--black);
  display: flex;
  width: 100px;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  /* margin-left: auto;
  margin-top: auto; */
  grid-area: main;
  justify-self: end;
  align-self: end;
}

.main__arrows {
  height: 40%;
}
